@charset "UTF-8";

.loginForm {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.loginForm .col-lg-8 {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.loginForm .col-lg-8 .checkout__input {
	width: 100%;
}

/* 로그인폼 까지 ---------------------*/
.joinForm .joinBox {
	margin : 0 auto;
}
.joinForm .joinBox .checkout__input .phoneBox {
	display: flex;
	align-items: center;
}

.joinForm .joinBox .checkout__input {
	display: flex;
}
.checkout__input__checkbox label.loginCheck {
	padding-left: 20px;
}
/* 회원가입폼 까지 ----------------------------- */