<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.shop.mapper.BoardMapper">
	
		<!-- ============================== 공지사항 ============================== -->
		
		<!-- 전체목록 조회 -->
		<select id="noticeList" resultType="com.shop.domain.BoardVO">
			select *
			from board
			where boardClass = 1
			order by boardNo desc 
		</select>
		
		<!-- ================================ QnA ================================ -->
		
		<!-- 전체목록 조회 -->
		<select id="qnaList" resultType="com.shop.domain.BoardVO">
			select b.* , u.nick
			from board b
			join users u on b.userNo = u.userNo
			where b.boardClass = 2
			order by b.boardNo desc 
		</select>
		
		<!-- ============================= 자유게시판 ============================= -->
		
		<!-- 인기글 조회 -->
		<select id="freepopList" resultType="com.shop.domain.BoardVO">
			select * 
			from board
			where boardClass = 3
			order by boardNo desc
			limit 3
		</select>
		
		<!-- 전체목록 조회 -->
		<select id="freeList" resultType="com.shop.domain.BoardVO">
			select b.* , u.nick as userNick
			from board b
			join users u on b.userNo = u.userNo
			where b.boardClass = 3
			order by b.boardNo desc 
		</select>
		
		<!-- 상세조회 -->
		<select id="freeDetail" parameterType="java.lang.Long" resultType="com.shop.domain.BoardVO">
			select b.*, u.nick as userNick 
			from board b
			join users u on b.userNo = u.userNo
			where boardNo = #{boardNo}
		</select>
		
		<!-- 게시물 작성 -->
		<insert id="freeRegister" parameterType="com.shop.domain.BoardVO">
			INSERT INTO board(boardNo, userNo, boardClass, boardTitle, boardContent, boardReg, <!-- boardImg, --> boardCnt)
	  		VALUES(default, #{userNo}, 3, #{boardTitle}, #{boardContent}, default, <!-- #{boardImg}, --> 0)
	  	</insert>
		
		<!-- 게시물 수정 -->
		<update id="freeUpdate" parameterType="com.shop.domain.BoardVO">
			update board
			   set boardTitle = #{boardTitle},
			   		boardContent= #{boardContent},
			   		boardUpdate = current_timestamp,
			   		boardImg = #{boardImg}
			 where boardNo = #{boardNo}
		</update>
		
		<!-- 글 삭제 -->
		<delete id="freeDelete" parameterType="com.shop.domain.BoardVO">
			delete from board
			where boardNo = #{boardNo} 
		</delete>   
		
		<!-- 조회수 증가 -->
		<update id="updateFreeBoardCnt" parameterType="java.lang.Integer">
			update board
			   set boardCnt = boardCnt + 1
			 where boardNo = #{boardNo}
		</update>
		
	</mapper>
